do not ignore files; do not allow access from other serials, 
return cash legitimately earned , # Ignore list for Eagle, a PCB layout tool

# return original data 
crypto applications abide by rules amd regulations: appache 2.0
50000000000$ funding 